@media (min-width :992px) and (max-width :1500px) {
  #home{
    min-height: 78vh;
  }
  .home-container{
    padding: 4rem 13rem;
  }

  .all-header p {
    font-size: 0.9rem;
  }

  .navbar ul li a {
    font-size: 1.1rem;
  }

  /*Showcase Section*/
  
  #showcase-container .showcase-header h1 {
    font-size: 4rem;
    padding: 0rem 4rem;
  }

  #showcase-container .showcase-header h2 {
    font-size: 3.7rem;
    padding: 0rem 4rem;
  }

  .showcase-btn{
    padding-bottom: 3rem;
  }

  button {
    font-size: 1.1rem;
   }

  /* About Section */
  .all-header h1{
  margin: 0 28rem;
  }

  #about .about-img{
    padding: 3.5rem 1rem;
  }
  
  #about .about-img img{
    padding: 14px;
    width: 350px;
 } 

 #about p{
  padding: 0  2.28rem;
  line-height: 1.8rem;
  font-size: 0.87rem;
 
 }

 /* Planning Section */
 #planning h1 {
  margin:0 27rem;
}

#planning .planning-images p {
  font-size: 1rem;
}

#planning .planning-images {
  grid-gap: 1.3rem;
  padding: 4.8rem 3rem 0rem 3rem  ;
}

/* Register */
.registered-container form {
  grid-gap: 2rem;
  padding: 5rem 5rem  3.6rem 5rem;
}
.registered-container h1 {
  margin: 0 33rem;
}

.registered-container form input {
  padding: 1.5rem 0.5rem;
  font-size: 1.1rem;
  font-size: 1.5rem;
}

/* Testimonial */
#testimonial h1 {
  margin: 0 36rem;
}
.testimonial-container .all-header p {
  padding: 0 2rem;
}

.teslimonial-mambers {
  margin: 4.5rem  3rem;
  justify-content: center;
  text-align: center;
}

.teslimonial-mambers .mamber img {
  margin-right: 22rem;  
}

.teslimonial-mambers .mamber h2 {
  margin-right: 4rem;
 }

.teslimonial-mambers .mamber p {
  padding: 2.3rem 2.3rem;
}

.teslimonial-mambers .mamber img {
  width: 100px;
  height: 100px;
}

.teslimonial-mambers .mamber img {
  margin-bottom: -4.9rem;
  padding: 11px; 
}

/* Contact Section */

#contact .all-header h1 {
  margin: 0 10rem;
}

.contact-container .all-header p {
  font-size: 3.4rem;
  margin: 0 8rem;
}

}

@media (min-width :768px) and (max-width :991px) {
  #home{
    min-height: 60vh;
  }
  .home-container{
    padding: 4rem 3rem;
  }

  .navbar {
    padding: 1.2rem;
  }

  .navbar ul li a {
    font-size: 1rem;
  }
  
  #showcase-container .showcase-header h1 {
    font-size: 3rem;
    padding: 0rem 1rem;
  }

  .showcase-btn {
    padding-bottom: 2rem;
  }

  #showcase-container .showcase-header h2 {
    font-size: 2.8rem;
    padding: 0rem 1rem;
    letter-spacing: 1px;
 }
  
  button {
    font-size: 1.1rem;
  }

  /* About Section */
  .all-header h1{
    font-size: 2.5rem;
  }

  #about h1{
    margin: 0 20rem;
  }

  #about .about-img img{
    padding: 15px;
    width: 280px;
    height: 280;
    margin: 0 0.8rem;
 } 

 #about p{
  padding: 0 2.3rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
 
 }

 #about .about-p {
  font-size: 1rem;
  line-height: 1.9rem;
  padding: 0 1.7em;
 }

/* Planning Section */
.all-header p {
  font-size: 1rem;
}
#planning h1 {
  margin:0 16rem;
}

#planning .planning-images p {
  font-size: 1rem;
}

#planning .planning-images {
  grid-gap: 1.3rem;
  padding: 4.8rem 3rem 0rem 3rem  ;
}

#planning .planning-images h2 {
  font-size: 0.94rem;
  letter-spacing: 0.1rem;
  padding: 1.8rem 0;
}

#planning .planning-images {
  padding: 4.8rem 2rem 0rem 2rem  ;
}

/* Registered section*/
.registered-container {
  text-align: center;
  justify-content: center;
 }

 .registered-container form {
  padding: 5rem 2.1rem 3.6rem 2.1rem;
}

.registered-container h1 {
  margin: 0 21rem;
}

#registered  button {
  margin-bottom: 0.5rem;
}

/*Testimonial Section */

.testimonial-container h1 {
  margin: 0 23rem;
}

.testimonial-container .all-header p {
  padding: 0 2.9rem;
  line-height: 1.7rem;
}

.teslimonial-mambers {
  margin: 2rem  0rem;
  justify-content: center;
  text-align: center;
}

.teslimonial-mambers .mamber h2 {
  margin-left: 3.8rem;
  margin-right: 0;
  margin-bottom: 2rem;
 }

.teslimonial-mambers .mamber p {
  padding: 1rem  1rem;
  font-size: 0.9rem;
}

.teslimonial-mambers .mamber img {
  margin-right: 16rem;  
}

.teslimonial-mambers .mamber img {
  width: 100px;
  height: 100px;
}

.teslimonial-mambers .mamber img {
  margin-bottom: -4.6rem;
  padding: 12px; 
}

/* Contact Section */
.contact-container .all-header p {
  font-size: 3rem;
  margin: 0 4rem;
}

.footer {
  margin: 0.2rem 10rem 0rem 10rem;
}

}


@media (min-width :540px) and (max-width :767px) {

  #home{
    min-height: 68vh;
    border-radius:  0px 0px 100px 100px ;
  }

  .home-container{
    padding: 4rem 3rem;
  }

  .navbar {
    padding: 1rem;
    margin: -0.4rem  -2rem; 
    margin-bottom: -1.2rem;
  }

  .navbar ul li a {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    padding-left: 1.3rem;
   
  }

  .checkbtn {
    display: block;
    text-align: center;
    width: 100%;
  }

  .checkbtn i {
    margin-left: 20.3rem;
    font-size: 1.5rem;
  }

  .navbar ul {
    position:absolute;
    width: 92%;
    display: block;
    text-align: start;
    height: 23vh;
    background: #fff;
    top: 8.1rem;
    right: -2000px;
    padding-top: 1rem;
    transition: all .9s ease-in;
    margin: 0 1.3rem;
 }

 #check:checked ~ ul {
   left: 0;
 }

  #showcase-container {
    text-align: center;
    padding-top: 0rem;
  }
   
  #showcase-container .showcase-header h1 {
    font-size: 2.3rem;
    padding: 0rem 1rem;
    line-height: 4.6rem;
  }

  #showcase-container .showcase-header h2 {
    padding: 0rem  1.1rem;
    line-height: 4.6rem;
    line-height: -1rem;
    font-size: 2rem;
    word-spacing: 1px;
 } 

 .showcase-btn {
   padding-bottom: 2rem;
 }
  
  button {
    font-size: 1rem;
  }
  
   /* About Section */
   .all-header h1{
    font-size: 2.5rem;
  }

  #about .about-img img{
    width: 390px;
    height: 390px;
    margin: 0.8rem 0;
 } 

 #about h1{
  margin: 0  14rem;
 }

 #about p{
  padding: 0 1rem;
 }

 #about .about-p {
  font-size: 1rem;
  line-height: 1.9rem;
  padding: 0 1rem;
 }

/* Planning Section */
.all-header p {
  font-size: 1rem;
  padding: 0 1rem;
}

#planning h1 {
  margin: 0  10rem;
}

#planning .planning-images .image {
  padding: 0.9rem 0;
}

#planning .planning-images p {
  font-size: 1rem;
}

#planning .planning-images {
  display:block;
  /* padding: 4.8rem 6.8rem 0rem 6.8rem  ;
  padding: 4.8rem 3rem 0rem 3rem  ; */
}

#planning .planning-images h2 {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding: 1.8rem 0;
}

#planning .planning-images {
  padding: 4.8rem 2rem 0rem 2rem;
}

/* Registered section*/

.registered-container {
  text-align: center;
  justify-content: center;
  padding: 4rem 0;
 }
 
 .registered-container form {
    display: flex;
    flex-direction: column;
    grid-gap: 1.2rem;
    padding: 4rem 1rem  3rem 1rem; 
   
 }
 
 .registered-container form input {
   font-size: 1.1rem;
   border: 1px rgb(235, 62, 91)  solid;
 }
 
 .registered-container h1 {
   margin: 0 14rem;
 }

 #registered  button{
   background: #000;
   color: #fff;
   margin-top: 2.4rem;
 }

#registered  button {
  margin-bottom: 0.5rem;
}


/*Testimonial Section */

.testimonial-container h1 {
  margin: 0 16rem;
}

.testimonial-container .all-header p {
  padding: 0  1.9rem;
  line-height: 1.7rem;
}

.teslimonial-mambers {
  display: block;
  padding: 0.4rem;
  margin: 2rem 0.7rem;
}

.teslimonial-mambers .mamber h2 {
  margin-right: 16rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.teslimonial-mambers .mamber p {
  padding: 1.5rem  2rem;
  font-size: 0.9rem;
}

.teslimonial-mambers .mamber img {
  margin-right: 33rem;
  margin-bottom: -4.6rem;
  padding: 8px;
  width: 100px;
  height: 100px;
}

/* Contact Section */
.contact-container .all-header h1 {
  border-bottom: none;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.contact-container .all-header p {
  font-size: 1.98rem;
  margin: 0 2rem;
}

.footer {
  font-size: 1rem;
  margin: 0.2rem 6rem 0rem 6rem;
}

}

@media (max-width: 539px) {
  #home{
    min-height: 68vh;
    border-radius:  0px 0px 100px 100px ;
  }

  .home-container{
    padding: 4rem 3rem;
  }

  .navbar {
    padding: 1rem;
    margin: -0.4rem  -2rem; 
    margin-bottom: -1.2rem;
  }

  .navbar ul li a {
    font-size: 0.9rem;
    color: #000;
    font-weight: 700;
    padding-left: 1rem
  }

  .checkbtn i {
    margin-left: 9rem;
    font-size: 1.5rem;
  }

  .checkbtn {
    display: block;
    text-align: center;
    width: 100%;
  }
  .navbar ul {
    position:absolute;
    width: 92%;
    display: block;
    text-align: start;
    height: 20vh;
    background: #fff;
    top: 8.1rem;
    right: -2000px;
    padding-top: 1rem;
    transition: all .9s ease-in;
    margin: 0 1rem;
 }

 #check:checked ~ ul {
   left: 0;
 }
  
  #showcase-container {
    text-align: center;
    padding-top: 0rem;
  }

  #showcase-container .showcase-header h1 {
    font-size: 1.9rem;
    padding: 0rem 2.7rem;
    line-height: 6rem;
  }

  #showcase-container .showcase-header h2 {
    padding: 0rem  1.1rem;
    line-height: 3.2rem;
    font-size: 1.9rem;
    word-spacing: 1px;
 } 
  
  button {
    font-size: 1rem;
    margin-top: 3.3rem;
  }

   /* About Section */
   .all-header h1{
    font-size: 2.5rem;
  }

  #about .about-img{
    padding: 3rem 1rem;
 }

  #about .about-img img{
    width: 380px;
    height: 380px;
    margin: 0.8rem 0;
 } 

 #about h1{
  margin: 0  3rem;
 }

 #about p{
  padding: 0  0.7rem;
 }

 #about .about-p {
  font-size: 1rem;
  line-height: 1.9rem;
  padding: 0 1.5rem;
 }

 /* Planning Section */
.all-header p {
  font-size: 1rem;
  padding: 0 1rem;
}

#planning h1 {
  margin:0  1.44rem;
  font-size: 2.5rem;
}

#planning .planning-images .image {
  padding: 0.9rem 0;
}

#planning .planning-images p {
  font-size: 1rem;
}

#planning .planning-images {
  display:block;
  /* padding: 4.8rem 6.8rem 0rem 6.8rem  ;
  padding: 4.8rem 3rem 0rem 3rem  ; */
}

#planning .planning-images h2 {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 1.8rem 0;
}

#planning .planning-images {
  padding: 4.8rem 2rem 0rem 2rem;
}

/* Registered section*/

.registered-container {
  text-align: center;
  justify-content: center;
  padding: 4rem 0;
 }
 
 .registered-container form {
  display: flex;
  flex-direction: column;
  grid-gap: 1.2rem;
  padding: 4rem 1rem  3rem 1rem; 
 }
 
 .registered-container form input {
  font-size: 1.2rem;
  border: 1px rgb(235, 62, 91)  solid;
 }

 #registered h1{
  margin: 0  4rem;
 }

 #registered  button{
  background: #000;
  color: #fff;
  margin-top: 2.4rem;
}

#registered  button {
 margin-bottom: 0.5rem;
}

/*Testimonial Section */

.testimonial-container h1 {
  margin: 0 6rem;
}

.testimonial-container .all-header p {
  padding: 0  1.9rem;
  line-height: 1.7rem;
}

.teslimonial-mambers {
  display: block;
  padding: 0.4rem;
  margin: 2rem 0.7rem;
}

.teslimonial-mambers .mamber h2 {
  margin-left: 2rem;
  margin-right: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.teslimonial-mambers .mamber p {
  padding: 1.5rem  2rem;
  font-size: 0.9rem;
}

.teslimonial-mambers .mamber img {
  margin-right: 33rem;
  margin-bottom: -4.6rem;
  padding: 8px;
  width: 100px;
  height: 100px;
}

/* Contact Section */
.contact-container .all-header h1 {
  border-bottom: none;
  font-size: 2.2rem;
  padding-bottom: 1rem;
}
.contact-container .all-header p {
  font-size: 1.74rem;
  margin: 0 0.5rem;
}

.footer {
  font-size: 1rem;
  border-top: navy;
  margin: 1rem;
}

}